.mainMenu {
  background-image: url("../src/assets/images/LK_pizza_bckground.jpg");
  background-color: #1B2223;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family:'Questrial', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navigationBar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #F4FEFD;
  padding: 5px;
}

.navigationBar a{
  text-decoration: inherit;
  color: #1B2223;
}

.logo {
  margin: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.list {
  font-family: Arial, sans-serif;
  font-weight: bold;
  list-style: none;
  display: flex;
  gap: 20px;
}

.list li {
  margin-top: 20px;
}

.list li a {
  text-decoration: none;
  transition: color 0.2s;
}

.list li a:hover {
  color: #8E43ED;
}
#toggler,
.navigationBar label {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #1B2223;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #8E43ED;
}

@media screen and (max-width: 770px) {
  .menuList {
      width: 100%;
      max-height: 0;
      overflow: hidden;
  }

  .list {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .navigationBar label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  }

  #toggler:checked ~ .menuList {
      max-height: 100%;
  }

}

.center {
  text-align: center;
}

.oNas, .kontakt, .fotogaleria, .registracia, .menu, .review, .fotogaleria {
  background-color: #1B2223;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family:'Questrial', sans-serif;
}

.bg-image-full {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.bold {
  font-weight: bold;
}

.whiteColor {
  color: #F4FEFD;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
}

.card-inner{
  margin-left: 4rem;
}

.dropdown {
  margin-top: 10px;
}

.card-img-left {
  width: 45%;
  background: no-repeat scroll center url("../src/assets/images/LK_pizza_bckground.jpg");
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

/* --Animacie-- */

/*Grow*/
@keyframes grow {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
.grow-animation {
  animation: grow 1.2s ease forwards;
}

.hidden {
  opacity: 0;
}

.custom-heading {
  font-family: 'Inkut Antiqua', sans-serif;
  text-shadow: 1px 1px 0px #c8c8c8, 0px 2px 0px #b4b4b4, 0px 3px 0px #a0a0a0, 
  0px 4px 0px rgba(140, 140, 140, 0.498039), 0px 0px 0px #787878, 
  0px 5px 10px rgba(0, 0, 0, 0.498039);
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #F4FEFD;
  height: 400px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #0EF6CC;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0EF6CC;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

/* --Shape dividers-- */

.shapedivider_waves-with-pizza {
  overflow:hidden;
  position:relative;
}

.shapedivider_waves-with-pizza::before {
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat; 
  background-size: 250% 90px;
  background-position: 50% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd' preserveAspectRatio='none' viewBox='0 0 35.28 2.17'%3E%3Cpath style='opacity:.899' fill='%23F4FEFD' d='M11.102-.007h.058a6 6 0 0 1 .289.492l.029.101a2 2 0 0 0-.08.116q-.032.114.065.181.102.009.203 0 .113.175.203.362.001.037-.029.058a1.2 1.2 0 0 1-.347.116 6 6 0 0 1-.796.014 1.2 1.2 0 0 0-.217-.087q-.023-.03-.007-.065a8 8 0 0 1 .203-.391q.043-.099.058-.203-.042-.076-.13-.087a7 7 0 0 0-.275.058q-.06.002-.108-.029-.049-.113.058-.166a3 3 0 0 1 .304.007.7.7 0 0 0 .188-.022q-.137-.05-.043-.159a.5.5 0 0 1-.123-.051q-.019-.075.051-.108a1.5 1.5 0 0 1 .354.007.4.4 0 0 0 .051-.029l.043-.116m.159.506q-.101.011-.203.014-.062-.134.08-.188.17.001.123.174'/%3E%3Cpath style='opacity:.918' fill='%23F4FEFD' d='M17.495-.007h.275a1.6 1.6 0 0 0 .181.26 1 1 0 0 0 .116.087.7.7 0 0 1-.051-.152.3.3 0 0 1 .08-.08.14.14 0 0 1 .094.029.4.4 0 0 0 .145.174l.014-.014a.54.54 0 0 0-.166-.217 1 1 0 0 1-.036-.087h.203a.1.1 0 0 0 .007.043 9 9 0 0 1 .181.282.3.3 0 0 0 .072.036.5.5 0 0 0 .137-.029q.045.012.051.058l-.275.579q-.06.12-.145.231-.178-.084-.297.072-.042.093 0 .188a.7.7 0 0 0 .123.116 7 7 0 0 1-.253.535q-.082.02-.152-.036a3 3 0 0 1-.203-.152 5.2 5.2 0 0 1-.702-.955 5 5 0 0 0-.065-.246.5.5 0 0 1-.029-.116q.013-.028.043-.036.225-.038.47-.065l.014.014.231-.058q.262-.01.159-.246a9 9 0 0 0-.224-.217m.825.521q.128.016.174.137 0 .061-.022.137-.184.181-.325-.051V.634q.061-.099.174-.123m-1.114.26a4 4 0 0 0-.231-.043.18.18 0 0 1 .166-.116.21.21 0 0 1 .166.13.11.11 0 0 1-.101.029m.825.116q-.042-.014-.087-.014-.016-.051-.058-.014a.4.4 0 0 1-.116-.014l.043-.051q-.04-.056-.101-.029-.022-.023-.007-.051.15-.163.304 0 .055.086.022.174m-.535-.145q-.033 0-.022-.029.016.012.022.029'/%3E%3Cpath style='opacity:.8' fill='%23F4FEFD' d='M2.278.615Q2.247.571 2.191.572 1.577.278.904.492.866.509.832.485L.76.304Q.783.26.832.246a9 9 0 0 0 .311-.094q.03.012.058.014.675-.098 1.28.253a1.4 1.4 0 0 1 .159.13.6.6 0 0 1-.116.174Q2.391.705 2.3.6q-.008.012-.022.014'/%3E%3Cpath style='opacity:.832' fill='%23F4FEFD' d='M33.682.904h-.043a.1.1 0 0 1-.007.043 19 19 0 0 1-.419.564 2 2 0 0 1-.246.145q-.027-.006-.043-.029a3.3 3.3 0 0 0-.26-.521q-.099-.15-.239-.036a3 3 0 0 0-.123.282q-.091.114-.174 0a.2.2 0 0 1 0-.101 4 4 0 0 0 .275-.347q.015-.02-.007-.029.024-.034.022-.072l-.051.072h-.072a.1.1 0 0 0-.051-.043q0-.123-.051-.022-.19.081-.123-.123a1 1 0 0 0 .224-.304l-.072-.116.014-.029q.045-.038.094-.029.108.02.203.043.09-.002.195 0a6 6 0 0 0 .275.051q-.016.168.145.21.043.004.087-.029a1 1 0 0 0 .072-.137.3.3 0 0 0 .08-.022q.181.013.369.058.038-.025.072.007.019.077 0 .159a2.3 2.3 0 0 1-.145.354m-1.07-.535q.04-.004.087.022l.072.072-.029.072q.012.062-.058.087-.126.043-.166-.08-.026-.129.094-.174m.752.159a.07.07 0 0 1 .058.014q.041.071.087.137.031.017.058-.007.08-.142.08.029a.25.25 0 0 1-.203.159.2.2 0 0 1-.08-.022.22.22 0 0 0 .101-.087L33.321.59q.036-.025.043-.065m-1.099.174q.005-.073.072-.08a1 1 0 0 0-.072.08m.665.174h-.043q-.016-.019-.043-.029-.017.01-.014.029h-.101q-.044-.112.058-.181a.11.11 0 0 1 .101.014q-.056.027-.029.08.044.012.08 0a.14.14 0 0 1-.007.087m-.665-.174q-.005.054-.029.022.007-.022.029-.022m.13.174h-.029l.051-.072q.003.039-.022.072'/%3E%3Cpath style='opacity:.802' fill='%23F4FEFD' d='M23.86 1.685a.1.1 0 0 0-.058-.014q-.022-.073-.101-.072-.045.004-.087.022a.04.04 0 0 0-.014.036q-.073-.003-.058.072l.036.159a8 8 0 0 0-.297.275h-.101a1.5 1.5 0 0 1-.253-.564.04.04 0 0 0-.036-.014 13 13 0 0 0-.08-.477 4 4 0 0 1-.007-.203l-.029.152q.01.098 0 .188.015.168.058.34-.013.005-.014.022a2 2 0 0 1 .08.224l.195.333h-.246l-.152-.275a1.3 1.3 0 0 0-.123-.333q-.015-.125-.043-.26.002-.119 0-.239.023-.187.065-.383.047-.042.108-.022a1 1 0 0 1 .101.036.4.4 0 0 0 .043.072q.026-.008 0-.022a.2.2 0 0 1 .058-.022q.31.093.615.159.029-.006.065-.007a.3.3 0 0 0 .058-.145 4 4 0 0 1-.145-.311q.097-.185.239-.043.02.258.087.492l.014.014q.013-.079.101-.116.054.009.072.058a.3.3 0 0 1 .007-.145.095.095 0 0 1 .116-.014q.056.215.108.434l.087.029q.047-.026.065.029a.2.2 0 0 1-.022.058 3 3 0 0 1-.268.224 3 3 0 0 1-.239.224q-.01.013-.007.029M22.802.904a.3.3 0 0 1 .029-.13l.014.014zm1.23-.072q.034.059.022.13a.4.4 0 0 1-.022-.13m-.984.014q.096.028.13.123a.1.1 0 0 1-.029.022.13.13 0 0 0-.072-.014.2.2 0 0 0 .014.087q-.04.016-.08.029a.1.1 0 0 0-.022-.036q.063-.058-.014-.094-.04.054-.072 0a.18.18 0 0 1 .145-.116m-.246.058q.001.098.007.203a13 13 0 0 1 .08.477h-.058a2 2 0 0 1-.058-.34q.01-.09 0-.188zm.709.188q.17-.026.188.145a.4.4 0 0 1-.043.08q-.026.012-.043-.014.029-.022 0-.043-.072-.022-.094.051l-.051-.072a.17.17 0 0 0 .072-.065q-.01-.05-.051-.022a.1.1 0 0 0-.022-.036q.027-.005.043-.022m.347.058q.196-.04.203.145-.127.201-.253 0a.3.3 0 0 1 .051-.145m-.709.029q.181-.017.188.152-.06.147-.203.087-.137-.128.014-.239m.043.434h-.043a.064.064 0 0 1 .072-.022.1.1 0 0 1-.029.022m.608.058a2 2 0 0 1-.203-.014.05.05 0 0 1 .014-.036.3.3 0 0 1 .087-.022q.08 0 .101.072'/%3E%3Cpath style='opacity:.996' fill='%231a2122' d='M-.007.383a20 20 0 0 0 .882.231q.035.01.051.043.041.193.137.362.076.001.159.007.146.125.043.289a.3.3 0 0 1-.087.022l.094.304a7 7 0 0 1 .166.405q.019.023.043.007.042-.078.123-.108a2.4 2.4 0 0 0 .412.065q.09-.069-.014-.116a2 2 0 0 1-.26-.029q-.018-.022-.014-.051.124.019.246 0 .025-.049.007-.101-.062-.02-.123-.043l.014-.022q.305-.015.593.08.136-.026.094-.159l-.036-.036a5 5 0 0 0-.391 0q-.13-.057-.094-.195a1.3 1.3 0 0 0 .174-.26 3 3 0 0 0 .123-.137.04.04 0 0 1 .029-.007 17 17 0 0 0 2.589.318q.013.005.014.022a1 1 0 0 0-.051.195q-.011.181-.007.362.078.006.152-.014a2.2 2.2 0 0 1 .072-.535q.022-.018.051-.014h.014q.013.005.014.022-.121.249-.101.528a6 6 0 0 0 .405-.029q-.003-.217.203-.137.049.043.043.108a2.5 2.5 0 0 0 .593-.058q-.055-.049-.058-.123a1 1 0 0 1 .108-.239q.033-.112-.072-.072a5 5 0 0 0-.065.203h-.043q.011-.088.058-.166-.017-.043-.065-.051-.05.024-.08.072-.031-.06.029-.087a11 11 0 0 0 1.287-.137A104 104 0 0 0 9.306.769a15 15 0 0 1 .911-.137q.048.031.108.029A7 7 0 0 1 10.6.603q.088.011.13.087-.015.103-.058.203a8 8 0 0 0-.203.391q-.016.035.007.065a1.2 1.2 0 0 1 .217.087 6 6 0 0 0 .796-.014 1.2 1.2 0 0 0 .347-.116q.03-.021.029-.058a3 3 0 0 0-.203-.362 1 1 0 0 1-.203 0q-.097-.067-.065-.181a2 2 0 0 1 .08-.116l-.029-.101Q13.1.318 14.757.481a70 70 0 0 1 1.707.181q0 .014.014.014.085.442.297.839a4 4 0 0 1 .26.362 3 3 0 0 0 .297.289H-.007zm1.504.376a.1.1 0 0 1-.043-.014L1.389.716Q1.38.721 1.382.73a1 1 0 0 0-.101-.014q-.016-.071-.08-.058a.2.2 0 0 0-.065-.022l.058-.058q.172-.025.297.108.011.035.007.072M2.192.57q.056-.001.087.043-.05-.011-.087-.043m.058.347a1 1 0 0 0-.13-.029q.001-.022-.022-.029-.033-.012-.065-.014a.3.3 0 0 1 .043-.087q.038.055.101.036Q2.173.745 2.199.7q.153.085.051.217M1.903.845a3 3 0 0 1-.246-.058Q1.669.759 1.7.751q.152-.065.203.094m3.645.014q.137-.004.137.13-.009.01-.022.014-.043-.079-.087.007-.027.012-.043-.014.09-.066-.014-.101.019-.015.029-.036M5.345.96q0-.033.029-.022-.012.016-.029.022m0 0a3 3 0 0 1-.145.304h-.014q.04-.174.159-.304m.289.304h-.188q.008-.044 0-.08.074-.081.166-.007a.15.15 0 0 1 .022.087'/%3E%3Cpath style='opacity:.924' fill='%23F4FEFD' d='M33.985.933a.8.8 0 0 0-.137.246 1.84 1.84 0 0 1-.767.723q-.027-.006-.043-.029a.3.3 0 0 0-.051-.123l.014-.036q.509-.284.738-.81.083-.241.13-.492a.8.8 0 0 1 .181-.014q.063.021.051.087a2 2 0 0 1-.116.448'/%3E%3Cpath style='opacity:.741' fill='%23F4FEFD' d='M30.08 1.063a.13.13 0 0 0-.065.029q-.055.117-.043.246a.1.1 0 0 1 .051.087 4 4 0 0 1-.535.072q.005-.088-.087-.094-.075-.025-.116.036a1 1 0 0 0-.043.101 1 1 0 0 1-.145.036q-.012.009-.014.022h-.029a.3.3 0 0 0-.116.014l-.014-.029a.9.9 0 0 1 0-.304.07.07 0 0 0-.014-.058.1.1 0 0 1-.058.014v.405q-.066.004-.13.014-.029-.197-.043-.391.045-.475.376-.817.088-.079.152.022a.13.13 0 0 1 .036.087q.023-.003.043.007.13.123.246.26l.108.08a.2.2 0 0 0 .058-.029l.043-.26q.065-.06.152-.036.036.032.043.08a2 2 0 0 1-.116.311q.055.007.108.022.135-.097.152.072m-.825-.246q.015-.073-.058-.08.104-.056.145.058l-.014.022q-.018-.038-.051-.029-.006.02-.022.029m0 0q-.006.017-.022.029-.011-.029.022-.029m-.043.159q.168.03.051.159-.172-.027-.051-.159m-.26.014q.024.034-.007.072a.12.12 0 0 1 .007-.072m.622.145h-.072a.1.1 0 0 0-.058.014q.023-.038.072-.029a.07.07 0 0 1 .014-.058q.031.031.043.072'/%3E%3Cpath style='opacity:.904' fill='%23F4FEFD' d='M2.191.571q.036.033.087.043a3 3 0 0 0 .181.13q.014.036 0 .072-.06.049-.094.116a.04.04 0 0 0-.029.007 3 3 0 0 1-.123.137 1.3 1.3 0 0 1-.174.26q-.036.139.094.195a5 5 0 0 1 .391 0l.036.036q.042.134-.094.159-.288-.095-.593-.08l-.014.022q.061.023.123.043.018.052-.007.101-.122.019-.246 0-.004.029.014.051a2 2 0 0 0 .26.029q.105.046.014.116a2.4 2.4 0 0 1-.412-.065q-.081.03-.123.108-.025.016-.043-.007a7 7 0 0 0-.166-.405l-.094-.304a.3.3 0 0 0 .087-.022q.103-.165-.043-.289a2 2 0 0 0-.159-.007Q.967.849.927.655.911.621.876.612L.862.554Q.869.529.891.518q.337-.126.658-.051.009-.01.022-.014a29 29 0 0 0 .622.116m-.694.188a.1.1 0 0 1-.043-.014L1.391.714q-.009.005-.007.014a1 1 0 0 0-.101-.014q-.016-.071-.08-.058a.2.2 0 0 0-.065-.022l.058-.058q.172-.025.297.108.011.035.007.072m.752.159a1 1 0 0 0-.13-.029Q2.123.864 2.1.857 2.067.845 2.035.843a.3.3 0 0 1 .043-.087q.038.055.101.036-.004-.049.022-.094.153.085.051.217M1.905.843a3 3 0 0 1-.246-.058q.012-.028.043-.036.152-.065.203.094'/%3E%3Cpath style='opacity:.854' fill='%231a2021' d='M11.261.499q-.028.079-.116.072-.073.013-.087-.058.102-.004.203-.014'/%3E%3Cpath style='opacity:.832' fill='%23F4FEFD' d='M6.169 1.237q-.06.027-.029.087.03-.048.08-.072.048.008.065.051-.047.079-.058.166h.043a5 5 0 0 1 .065-.203q.105-.04.072.072a1 1 0 0 0-.108.239q.003.074.058.123a2.5 2.5 0 0 1-.593.058q.005-.065-.043-.108-.206-.08-.203.137a6 6 0 0 1-.405.029q-.02-.279.101-.528-.002-.017-.014-.022a3 3 0 0 0 .145-.304q-.119.13-.159.304-.029-.004-.051.014a2.2 2.2 0 0 0-.072.535q-.074.021-.152.014-.004-.181.007-.362a1 1 0 0 1 .051-.195q-.002-.017-.014-.022.142-.446.521-.723a.6.6 0 0 1 .116.108q-.015.032.014.065a.3.3 0 0 1 .051.029 1.8 1.8 0 0 0 .324.399q.054.005.094-.036a2 2 0 0 0 .058-.246q.085-.107.188-.014.014.067-.014.13-.091.125-.137.275M5.548.861q-.01.021-.029.036.104.035.014.101.017.027.043.014.044-.086.087-.007l.022-.014q-.001-.135-.137-.13m-.203.101q.017-.006.029-.022-.029-.011-.029.022m0 0a3 3 0 0 1-.145.304h-.014q.04-.174.159-.304m.289.304h-.188q.008-.044 0-.08.074-.081.166-.007a.15.15 0 0 1 .022.087'/%3E%3Cpath style='opacity:.985' fill='%23F4FEFD' d='M16.772.702q.005.159.065.318.281.741.962 1.143h-.463a3 3 0 0 1-.297-.289 4 4 0 0 0-.26-.362 3 3 0 0 1-.297-.839q-.015 0-.014-.014.023-.076.094-.058.198-.09.21.101'/%3E%3Cpath style='opacity:1' fill='%23192021' d='M11.001.629q.071-.005.13.036.036.031.029.08h-.072l.043.116a.3.3 0 0 0-.101.029q-.028-.031-.036-.072-.025.047-.08.043-.054-.157.087-.231'/%3E%3Cpath style='opacity:1' fill='%23161c1c' d='M1.107.673q.028.032.072.029-.006.068-.072.051-.027-.04 0-.08'/%3E%3Cpath style='opacity:.983' fill='%23192021' d='M1.28.716q.051.004.101.014-.053.102-.072.217A.6.6 0 0 1 1.15.904a.1.1 0 0 1 .007-.058.6.6 0 0 0 .072-.101q.018-.029.051-.029'/%3E%3Cpath style='opacity:.995' fill='%231a2122' d='M16.772.702a.1.1 0 0 0 .058.014 5 5 0 0 1 .065.246q.296.516.702.955a3 3 0 0 0 .203.152q.07.056.152.036a7 7 0 0 0 .253-.535.7.7 0 0 1-.123-.116q-.042-.095 0-.188.118-.157.297-.072.084-.111.145-.231a205 205 0 0 0 4.05.593q.084.153.123.333l.152.275h-5.048a2.2 2.2 0 0 1-.962-1.143q-.06-.159-.065-.318'/%3E%3Cpath style='opacity:.966' fill='%231a2122' d='M16.975.73q.118.018.231.043a.4.4 0 0 0 .051.087q.015.022 0 .043a1 1 0 0 0-.123.058q-.057-.052-.029-.123-.022-.014-.043 0-.04.085-.108.022a.23.23 0 0 1 0-.116q.008-.012.022-.014'/%3E%3Cpath style='opacity:.967' fill='%231a2121' d='M1.656.788a3 3 0 0 0 .246.058q.027.102-.058.181-.254.035-.224-.224.015-.016.036-.014'/%3E%3Cpath style='opacity:1' fill='%23171d1e' d='M1.454.745q.019.013.043.014.017.058-.022.116-.029.019-.065.014V.831h.058z'/%3E%3Cpath style='opacity:.916' fill='%23192021' d='M17.77.846a.4.4 0 0 0 .116.014.3.3 0 0 1-.007.087.06.06 0 0 1-.029.029.7.7 0 0 1-.137-.087.07.07 0 0 1 .058-.043'/%3E%3Cpath style='opacity:1' fill='%2314191a' d='M10.784.846q.147.013.072.137-.09.015-.101-.08.005-.034.029-.058'/%3E%3Cpath style='opacity:.813' fill='%23191f20' d='M17.944.875q.045 0 .087.014-.023.06-.08.029a.1.1 0 0 1-.007-.043'/%3E%3Cpath style='opacity:.995' fill='%231a2122' d='M32.293.875h.101q.022.008.007.029a4 4 0 0 1-.275.347.2.2 0 0 0 0 .101q.083.114.174 0a3 3 0 0 1 .123-.282q.14-.113.239.036a3.3 3.3 0 0 1 .26.521q.016.023.043.029a2 2 0 0 0 .246-.145 19 19 0 0 0 .419-.564q.01-.02.007-.043h.101q-.229.526-.738.81l-.014.036a.3.3 0 0 1 .051.123q.016.023.043.029a1.85 1.85 0 0 0 .767-.723.9.9 0 0 1 .137-.246q.651.056 1.287.203v1.027H23.28a8 8 0 0 1 .297-.275l-.036-.159q-.016-.075.058-.072.1.014.203.014a.1.1 0 0 1 .058.014 12 12 0 0 0 1.909-.022 76 76 0 0 0 2.907-.398q.015.193.043.391a.05.05 0 0 0 .036.014l.108-.022.029-.08a.1.1 0 0 1 .014.058.6.6 0 0 0 .145-.029h.029a1 1 0 0 0 .188-.043.24.24 0 0 0 .014-.116q.04-.062.116-.036.092.006.087.094.27-.019.535-.072a.1.1 0 0 0-.051-.087q-.012-.129.043-.246a.13.13 0 0 1 .065-.029Q31.181.927 32.29.874'/%3E%3Cpath style='opacity:.926' fill='%23191f20' d='M32.727.875h.101l.029.058q0 .043-.043.043a.23.23 0 0 1-.094-.072q-.015-.02.007-.029'/%3E%3Cpath style='opacity:.897' fill='%23161b1d' d='M32.886.875h.043q.027.021-.014.029l-.029-.007q-.027-.015 0-.022'/%3E%3Cpath style='opacity:.929' fill='%231a2021' d='M2.119.89a1 1 0 0 1 .13.029q.022.009.007.029-.097.081-.195.007.018-.043.058-.065'/%3E%3Cpath style='opacity:1' fill='%23040505' d='M10.784.875q.101-.011.058.08-.028.015-.051-.007a.2.2 0 0 1-.007-.072'/%3E%3Cpath style='opacity:1' fill='%231a2122' d='M33.074.89a.28.28 0 0 1 .224.058.22.22 0 0 1-.051.21q-.244.074-.239-.181.029-.047.065-.087M17.437.904q.298.015.203.297-.189.198-.34-.036-.05-.199.137-.26'/%3E%3Cpath style='opacity:1' fill='%23141919' d='M11.246.846q.059-.005.101.036.027.089-.072.094-.123-.042-.029-.13'/%3E%3Cpath style='opacity:1' fill='%23030404' d='M11.246.875q.091-.015.058.065a.1.1 0 0 1-.058.007z'/%3E%3Cpath style='opacity:1' fill='%23161c1c' d='M1.425.991q.127-.021.123.101-.112.101-.152-.043.005-.034.029-.058'/%3E%3Cpath style='opacity:1' fill='%231a2021' d='M10.986.991q.307-.015.159.253-.281.088-.21-.195.015-.04.051-.058'/%3E%3Cpath style='opacity:1' fill='%23191f20' d='M11.449.991q.071-.006.137.014-.012.086-.051.166.038.093.116.014-.086-.005-.029-.058.053-.02.058.036-.048.252-.289.152-.139-.072-.094-.224.04-.056.08 0-.09.014-.029.072a.14.14 0 0 0 .087.014q.005-.094.014-.188'/%3E%3Cpath style='opacity:1' fill='%23F4FEFD' d='M1.439 1.02q.1-.024.08.072-.101.04-.08-.072'/%3E%3Cpath style='opacity:1' fill='%230b0f0f' d='M32.857 1.034q.083.026.043.101a.1.1 0 0 0-.007-.058q-.027.08-.101.043-.017-.031.007-.058a.2.2 0 0 0 .058-.029'/%3E%3Cpath style='opacity:1' fill='%23191f20' d='M10.653 1.078h.13q.003.043-.029.072a.14.14 0 0 0 .087.014 2 2 0 0 1-.014.13q-.05.005-.087-.029a.14.14 0 0 0-.014.087.14.14 0 0 1-.087-.014q-.12-.137.014-.26'/%3E%3Cpath style='opacity:1' fill='%2314191a' d='M1.946 1.063q.112.007.108.116-.117.102-.152-.051.011-.041.043-.065'/%3E%3Cpath style='opacity:1' fill='%23151b1b' d='M33.407.962q.105 0 .101.108-.029.07-.101.043l-.014-.022.072-.007q.036-.06-.029-.08a.08.08 0 0 0-.051.043q-.016-.051.022-.087'/%3E%3Cpath style='opacity:1' fill='%23F4FEFD' d='M1.946 1.107h.072v.087h-.072z'/%3E%3Cpath style='opacity:1' fill='%23181e1f' d='M17.814 1.107q.214-.022.13.166-.133.044-.145-.094l.014-.072'/%3E%3Cpath style='opacity:1' fill='%2314191a' d='M29.906 1.092q.023.002.029.029a.2.2 0 0 1-.043.087.1.1 0 0 1 .014-.116'/%3E%3Cpath style='opacity:1' fill='%23040606' d='M17.843 1.135q.122-.031.094.087-.081.035-.108-.051a.1.1 0 0 1 .014-.036'/%3E%3Cpath style='opacity:.904' fill='%23192021' d='M29.501 1.135h.072q.036.015.029.058a.3.3 0 0 1-.101.043z'/%3E%3Cpath style='opacity:1' fill='%23151b1c' d='M32.857 1.034a.2.2 0 0 1-.058.029q-.024.027-.007.058.074.037.101-.043.011.028.007.058a.12.12 0 0 1-.116.022q-.077-.128.072-.123'/%3E%3Cpath style='opacity:1' fill='%23191f20' d='M1.671 1.135h.101q-.004.051.007.101.077-.095.094.022-.018.08-.072.145-.077.033-.159.014-.091-.048-.072-.152a.14.14 0 0 0 .087-.014q-.062-.069.014-.116'/%3E%3Cpath style='opacity:.451' fill='%23121717' d='M29.501 1.135v.101a.3.3 0 0 0 .101-.043q-.034.073-.116.058v-.072a.1.1 0 0 1-.072-.014q.01-.018.029-.014a.1.1 0 0 1 .058-.014'/%3E%3Cpath style='opacity:1' fill='%231a2122' d='M29.791 1.367q-.087.087-.174 0-.028-.127.094-.159.107.04.08.159'/%3E%3Cpath style='opacity:1' fill='%23181f20' d='M29.067 1.222q.046-.006.087.014-.072.04-.014.087a.5.5 0 0 0 .08.058q.013.043-.022.072-.078.019-.116-.058-.019-.028-.043 0-.006.049-.043.072a.19.19 0 0 1-.007-.188.16.16 0 0 1 .08-.058'/%3E%3Cpath style='opacity:1' fill='%230c0f10' d='M29.313 1.208q.105.016.058.116a.2.2 0 0 1-.087.014.26.26 0 0 1 .029-.13'/%3E%3Cpath style='opacity:1' fill='%23192021' d='M32.929 1.237a.09.09 0 0 1 .072.072q.044-.096.116-.022.058.091-.058.108.026.037.072.029-.015.127-.145.094-.189-.11-.058-.282'/%3E%3Cpath style='opacity:.9' fill='%231a2022' d='M5.446 1.266h.188q.022.009.007.029-.115.12-.21-.014.003-.013.014-.014'/%3E%3Cpath style='opacity:.999' fill='%23191f20' d='M5.779 1.266q.221-.022.123.174-.044.048-.108.043a.13.13 0 0 1 .014-.072q-.041-.016-.087 0v-.116q.043.007.058-.029'/%3E%3Cpath style='opacity:1' fill='%230e1212' d='M29.067 1.222a.1.1 0 0 1 .051-.014q.048.013.094.029v.072h-.058q.003-.072-.029-.014l.014.029q-.057-.046.014-.087-.041-.021-.087-.014'/%3E%3Cpath style='opacity:1' fill='%23111515' d='M5.272 1.266q.044.053.087 0 .028.056-.036.072-.055-.015-.051-.072'/%3E%3Cpath style='opacity:1' fill='%23131718' d='M29.791 1.367q.028-.119-.08-.159-.122.031-.094.159-.061-.145.094-.174l.051.007a.4.4 0 0 1 .058.094.1.1 0 0 1-.029.072'/%3E%3Cpath style='opacity:1' fill='%23F4FEFD' d='M11.883 1.338a.07.07 0 0 1 .043.007q.077.063.072.152-.567.324-1.215.21a2.3 2.3 0 0 1-.391-.13q-.051-.081.007-.166.016-.023.043-.029.732.335 1.439-.043'/%3E%3Cpath style='opacity:1' fill='%23171d1e' d='M17.307 1.338q.138-.018.137.116-.076.068-.174.029-.054-.094.036-.145'/%3E%3Cpath style='opacity:1' fill='%231a2021' d='M17.669 1.352q.171-.019.065.101-.038-.135-.08.014 0 .033.029.051a.15.15 0 0 0 .101-.014l.13-.065q.081.048.101.145-.011.034-.043.051a2 2 0 0 1-.188.029q-.054.098.058.137l.029-.014a.14.14 0 0 1-.043-.043q.118-.051.087.065-.102.058-.217.043a.335.335 0 0 1-.166-.383.3.3 0 0 1 .137-.116'/%3E%3Cpath style='opacity:1' fill='%23030404' d='M17.293 1.367q.097-.016.108.072-.134.079-.108-.072'/%3E%3Cpath style='opacity:1' fill='%23161b1c' d='M28.923 1.28q-.017.024-.022.058a2 2 0 0 0-.007.231l-.029.08-.108.022a.05.05 0 0 1-.036-.014q.065-.01.13-.014v-.405a.1.1 0 0 0 .058-.014.07.07 0 0 1 .014.058'/%3E%3Cpath style='opacity:1' fill='%23131718' d='M11.16 1.28q.156-.011.072.123-.081.028-.101-.051-.001-.044.029-.072'/%3E%3Cpath style='opacity:1' fill='%23030303' d='M11.174 1.309h.058q.014.087-.072.072-.003-.039.014-.072'/%3E%3Cpath style='opacity:1' fill='%23181e1f' d='M5.316 1.381q.095-.013.159.058.02.026.014.058h-.058q.005-.04-.029-.036-.027.032 0 .065l.087.072a.3.3 0 0 1-.058.087.4.4 0 0 1-.101-.108q-.022-.014-.043 0-.039.048-.007.094.055-.058.051.029-.19-.035-.108-.217a1 1 0 0 0 .094-.101'/%3E%3Cpath style='opacity:1' fill='%230c0f10' d='M28.923 1.28a.9.9 0 0 0 0 .304l.014.029a.3.3 0 0 1 .116-.014.6.6 0 0 1-.145.029.1.1 0 0 0-.014-.058 2 2 0 0 1 .007-.231q.005-.034.022-.058'/%3E%3Cpath style='opacity:1' fill='%230e1213' d='M29.082 1.396q-.021 0-.029.022.03.035.029.08-.052.005-.087-.029.037-.023.043-.072.024-.028.043 0'/%3E%3Cpath style='opacity:1' fill='%231a2122' d='M1.468 1.454q.242 0 .181.231-.144.15-.275-.014-.038-.15.094-.217'/%3E%3Cpath style='opacity:1' fill='%23192021' d='M5.967 1.454q.183-.019.166.159-.11.141-.217 0-.018-.059.007-.116.029-.015.043-.043'/%3E%3Cpath style='opacity:1' fill='%23131718' d='M5.591 1.425q.047-.008.072.029l-.065.014q-.008.09.058.029-.008.082-.087.043-.016-.063.022-.116'/%3E%3Cpath style='opacity:1' fill='%230e1212' d='M29.284 1.439a.24.24 0 0 1-.014.116 1 1 0 0 1-.188.043.04.04 0 0 1 .014-.022 1 1 0 0 0 .145-.036q.019-.054.043-.101'/%3E%3Cpath style='opacity:.986' fill='%23191f20' d='M22.833 1.584h.058a.05.05 0 0 1 .036.014 1.5 1.5 0 0 0 .253.564h-.087l-.195-.333a2 2 0 0 0-.08-.224q.002-.016.014-.022'/%3E%3Cpath style='opacity:.99' fill='%23192021' d='M23.151 1.613h.043q.03.034.043.08.095.003.188.022a.3.3 0 0 1 .014.13.6.6 0 0 1-.188-.029q-.038-.001-.043.036a.2.2 0 0 0 .043.08.04.04 0 0 0 .014-.043q.074-.003.058.072-.265.053-.246-.217a.3.3 0 0 1 .036-.116.04.04 0 0 1 .036-.014'/%3E%3C/svg%3E");
}
  
@media (min-width:768px) {
  .shapedivider_waves-with-pizza::before {
    background-size: 200% 90px;
    background-position: 50% 100%;   
  }  
}
   
@media (min-width:1025px) {
  .shapedivider_waves-with-pizza::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 100%;  
  }
}

@media (min-width:2100px) {
    .shapedivider_waves-with-pizza::before{
    background-size: 100% calc(2vw + 90px);
  }
}

.shapedivider-dripping{
  overflow:hidden;
  position:relative;
  }
  .shapedivider-dripping::before{
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat; 
  background-size: 250% 40px;
  background-position: 50% 0%;    
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.4 70.7"><g fill="%231b2223"><path d="M1837 0H0v9c8-5 20-1 24 7 3 5 5 12 10 12a7 7 0 007-4c2-3 1-8 0-12 3-2 7 0 8 3l1 10c-1 4-2 9 1 12a5 5 0 007 1c2-2 2-5 2-8 0-4 1-8 6-7a6 6 0 013 4 8 8 0 003 3 2 2 0 003-2c0-3-1-5 1-7a4 4 0 014-3c3 1 4 5 4 8-1 2-2 5-1 7a4 4 0 001 1c1 2 5 0 4-3a10 10 0 010-6 5 5 0 015-3c3-1 4 2 4 5l-2 6c-3 4-5 8-5 13s2 11 7 12c4 1 9-1 9-5 1-2 0-5-2-7l-1-3a19 19 0 013-20 7 7 0 017-2c4 1 5 6 4 10v11c1 4 7 5 8 1l2-9c3-3 8-6 11-2a7 7 0 012 5l-3 9-1 4c-2 4-2 9 2 11a7 7 0 008-1c4-3 5-9 3-13v-1c-1-4-4-8-3-13a9 9 0 0110-7c4 0 10 5 9 10v2a33 33 0 01-1 8 42 42 0 01-2 7c-2 4-2 10 2 14 3 3 7 5 11 3a8 8 0 005-5c2-6-3-11-6-17a10 10 0 010-2 13 13 0 012-10c6-7 16-2 17 5a15 15 0 011 5l-1 7c-1 4 1 10 6 9a7 7 0 006-5c1-4 0-8-2-11-2-4-4-7-3-11a8 8 0 012-6c4-4 11-1 15 2 5 4 10 8 15 6 4-1 6-4 7-7l7-11a7 7 0 016 0c5 1 5 6 4 10l-4 9c0 4 3 8 7 7a6 6 0 004-4c1-5-2-9-2-14 0-4 4-8 8-5a6 6 0 011 4 104 104 0 011 20l-1 10c1 6 8 9 12 5 3-3 4-8 4-12a23 23 0 00-1-3 50 50 0 00-3-9c-2-4-4-9-3-13 1-6 9-11 13-3a10 10 0 010 7c-1 4-1 12 5 13a6 6 0 005-3c3-5 1-9 2-14 1-3 4-6 8-6 4 1 7 5 7 9l2 13a10 10 0 005 6 6 6 0 005 0 6 6 0 001-1 7 7 0 003-4c1-5-2-9-3-14 0-3 1-8 4-9l2 9c3 4 8 6 12 2a8 8 0 001-3c2-4 1-7 0-11a18 18 0 0115 0l6 3a8 8 0 003 1 8 8 0 002-1c3 0 5-2 7-3a18 18 0 0115 0c-1 4-2 7-1 11a8 8 0 002 3c4 4 9 2 11-2l3-9c3 2 4 6 3 9 0 5-3 9-2 14a7 7 0 002 4c5 4 10 0 12-5l1-13c0-5 4-8 8-9 3 0 6 3 7 6 1 5 0 10 3 14a6 6 0 005 3c5-1 6-9 5-13a10 10 0 010-7c4-7 12-3 13 3 1 5-1 9-3 13s-4 8-4 12 1 9 4 12c4 4 11 1 11-5V26a6 6 0 012-4c3-3 8 1 8 5 0 5-3 9-2 14a6 6 0 004 4c4 1 7-3 6-7l-3-9c-1-4-1-9 3-10a7 7 0 016 0c4 3 6 7 7 11 2 3 4 6 7 7 6 2 11-2 15-5 5-4 11-7 16-3a8 8 0 012 6c0 8-7 14-6 22a7 7 0 006 6c5 0 7-6 7-10s-2-8-1-12c2-7 12-12 18-5a12 12 0 012 12c-3 6-9 12-7 17a8 8 0 005 5c5 2 9 0 12-3 4-4 4-9 2-14a37 37 0 01-3-15v-2c-1-5 4-10 9-10a9 9 0 0110 7c1 5-2 9-4 14-1 5 0 10 4 13a7 7 0 008 1c4-2 4-7 2-11-1-4-4-8-4-13a7 7 0 012-5c3-4 8-1 10 2s2 6 2 10c2 3 7 1 9-2s0-7-1-11c0-4 1-9 5-10a7 7 0 017 2 19 19 0 013 20c-2 4-4 7-4 10 1 5 6 7 10 5 5-1 7-7 7-12 0-4-3-9-5-12l-2-7c-1-2 1-6 4-5a5 5 0 014 3 10 10 0 010 6c-1 3 3 5 5 3a2 2 0 000-1v-7c0-3 0-7 3-7a4 4 0 015 2v7a2 2 0 004 2 8 8 0 003-3 6 6 0 013-4c4-1 6 3 6 7 0 3-1 6 2 8a5 5 0 007-1c2-3 2-8 1-12V15c1-3 6-5 8-3 0 4-1 8 1 12a7 7 0 007 4c5 0 7-7 9-12a13 13 0 0125 0c2 5 4 12 9 12a7 7 0 007-4c2-4 1-8 1-12 2-2 7 0 8 3v10c-1 4-1 9 1 12a5 5 0 007 1c3-2 2-5 2-8 0-4 2-8 6-7a6 6 0 014 4 8 8 0 002 3 2 2 0 004-2v-7a4 4 0 015-3c3 1 3 5 3 8v7a4 4 0 000 1c2 2 6 0 5-3a10 10 0 010-6 5 5 0 014-3c3-1 5 2 4 5l-2 6-5 13c0 5 2 11 8 12 4 1 8-1 9-5 1-3-2-6-4-10a19 19 0 014-20 7 7 0 016-2c5 1 5 6 5 10-1 4-2 7-1 11s7 5 9 1c0-3 0-6 2-9s7-6 10-2a7 7 0 012 5c0 5-3 8-4 13-1 4-1 9 3 11a7 7 0 007-1c5-3 5-9 4-13-2-5-5-9-4-14a9 9 0 0110-7c5 0 10 5 10 10v2a37 37 0 01-4 15c-2 4-2 10 2 14 3 3 8 5 12 3a8 8 0 005-5c2-6-4-11-6-17a12 12 0 011-12c6-7 16-3 18 5 1 4-1 8-1 12s2 10 7 9a7 7 0 006-5c2-8-6-14-6-22a8 8 0 012-6c5-4 11-1 16 2s9 8 15 6c3-1 5-4 7-7 2-4 3-8 7-11a7 7 0 016-1c4 2 4 7 3 11l-3 9c0 4 2 8 6 7a6 6 0 004-4c1-5-2-9-2-14 0-4 5-8 8-5a6 6 0 012 4v30c0 6 7 9 11 5h1c3-3 4-8 3-12l-4-12c-2-4-4-9-3-13 1-6 9-11 13-3a10 10 0 010 7c-1 4 0 12 5 13a6 6 0 006-3c2-5 1-9 2-14 1-3 4-6 7-6 4 1 7 5 8 9l1 13c2 5 7 9 12 5a7 7 0 002-4c1-5-1-9-2-14-1-3 0-7 3-9l3 9c2 4 7 6 11 2a8 8 0 002-3c1-4 0-7-1-11a18 18 0 0115 0c3 1 4 3 7 3a16 16 0 005 0l6-3a18 18 0 0115 0c-1 4-2 7 0 11a8 8 0 001 3c4 4 9 2 12-2l2-9c3 2 4 6 4 9-1 5-3 9-3 14a7 7 0 003 4c4 4 10 0 11-5l2-13c1-5 3-8 8-9 3 0 6 3 7 6 1 5 0 9 2 14a6 6 0 005 3c6-1 6-9 5-13a10 10 0 011-7c3-8 11-3 12 3 1 4-1 9-3 13l-4 12c-1 4 1 9 4 12 4 4 12 1 12-5s-2-18 0-30a6 6 0 011-4c4-3 8 1 8 5 1 5-2 9-1 14a6 6 0 003 4c4 1 7-3 7-7l-3-9c-2-4-1-9 3-10a7 7 0 016 0c4 3 5 7 7 11 1 3 4 6 7 7 5 2 10-2 15-5s11-7 15-3a8 8 0 013 6c0 8-8 14-6 22a7 7 0 006 6c5 0 7-6 6-10V41c1-7 12-12 17-5a13 13 0 012 12c-3 6-8 12-6 17a8 8 0 005 5c4 2 8 0 11-3 4-4 4-9 2-14a37 37 0 01-3-15v-2c0-5 5-10 9-10a9 9 0 0110 7c1 5-2 9-3 14s-1 10 3 13a7 7 0 008 1c4-2 4-7 3-11-2-5-5-8-5-13a7 7 0 012-5c4-4 9-1 11 2l2 10c1 3 7 1 8-2s0-7 0-11c-1-4 0-9 4-10a7 7 0 017 2 19 19 0 013 20c-1 4-4 7-3 10 1 5 5 7 9 5 5-1 8-7 7-12 0-4-2-9-4-13l-3-6c0-2 1-6 5-5a5 5 0 014 3 10 10 0 010 6c-1 3 3 5 5 3a4 4 0 000-1v-7c-1-3 0-7 3-7a4 4 0 014 2c2 2 1 5 1 7a2 2 0 003 2 8 8 0 003-3 6 6 0 013-4c5-1 6 3 6 7 0 3 0 7 2 8a5 5 0 007-1c3-3 2-8 2-12-1-3-2-6 0-10s5-5 8-3c-1 4-2 9 0 13a7 7 0 007 4c6-1 7-8 10-13s9-9 15-9 13 4 16 9c2 5 4 12 9 13a7 7 0 007-4c2-4 1-9 0-13 3-2 7 0 9 3s0 7 0 10c-1 4-2 9 1 12a5 5 0 007 1c3-1 2-5 2-8 0-4 2-8 6-7a6 6 0 013 4 8 8 0 003 3 2 2 0 004-2v-7a4 4 0 015-2c3 0 3 4 3 7v7a2 2 0 000 1c2 2 6 0 5-3a10 10 0 010-6 5 5 0 014-3c3-1 5 3 4 5l-2 6c-2 4-5 9-5 13 0 5 2 11 7 12 4 2 9 0 10-5 0-3-2-6-4-10a19 19 0 013-20 7 7 0 017-2c4 1 5 6 4 10v11c1 4 7 5 9 2 0-4 0-7 2-10s7-6 10-2a7 7 0 012 5c0 5-3 8-4 13-2 4-2 9 2 11a7 7 0 008-1c4-3 5-8 3-13-1-5-4-9-3-14a9 9 0 0110-7c5 0 10 5 9 10v2a37 37 0 01-3 15c-2 4-2 10 2 14 3 3 7 5 12 3a8 8 0 005-5c2-6-4-11-7-17a13 13 0 012-12c6-7 16-2 18 5 1 4-1 8-1 12s2 10 6 10a7 7 0 006-6c2-8-5-14-5-22a8 8 0 012-6c5-4 11-1 16 2 4 4 9 8 14 6 4-1 6-4 7-7 2-4 4-8 8-11a7 7 0 016 0c4 1 4 6 3 10l-3 9c-1 4 2 8 6 7a6 6 0 004-4c1-5-2-9-2-14 0-4 5-8 8-5a6 6 0 012 4v30c0 6 7 9 11 5 3-3 4-8 4-12s-2-8-4-12-4-9-3-13c1-6 9-11 13-3a10 10 0 010 7c-1 4 0 12 5 13a6 6 0 005-3c3-5 1-9 3-14 0-3 4-6 7-6 4 1 7 5 8 9l1 13c2 5 7 9 11 5a7 7 0 003-4c1-5-2-9-2-14-1-3 0-8 3-9l3 9c2 4 7 6 11 2a8 8 0 002-3c1-4 0-7-1-11a18 18 0 0115 0c2 1 4 3 7 3a8 8 0 002 1 8 8 0 003-1l6-3a18 18 0 0115 0c-1 4-2 7-1 11a8 8 0 002 3c4 4 9 2 12-2l2-9c3 1 4 6 4 9-1 5-4 9-3 14a7 7 0 003 4 6 6 0 001 1 6 6 0 005 0 10 10 0 005-6l2-13c1-5 3-8 7-9s7 3 8 6c1 5-1 9 2 14a6 6 0 005 3c5-1 6-9 5-13a10 10 0 010-7c4-8 12-3 13 3 1 4-1 9-3 13a50 50 0 00-3 9 24 24 0 00-1 3c0 4 1 9 4 12 4 4 11 1 11-5V46a105 105 0 010-20 6 6 0 012-4c4-3 8 1 8 5 0 5-3 9-2 14a6 6 0 004 4c4 1 7-3 7-7l-4-9c-1-4-1-9 4-11a7 7 0 016 1l7 11c1 3 3 6 7 7 5 2 10-2 14-6 4-2 8-4 11-4V0z"/></g></svg>'); 
  }
  
  @media (min-width:768px){
  .shapedivider-dripping::before{
  background-size: 200% 60px;
  background-position: 50% 0%;   
  }  
  }
   
  @media (min-width:1025px){
  .shapedivider-dripping::before{ 
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 90px;
  background-position: 50% 0%;  
  }
  }
  @media (min-width:2100px){
  .shapedivider-dripping::before{
  background-size: 100% calc(2vw + 90px);
  }
  }


.shapedivider-special-waves{
    overflow:hidden;
    position:relative;
    }
    .shapedivider-special-waves::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 250% 90px;
    background-position: 50% 100%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMin slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.4 78.7"><g fill="%231b2223"><path d="M2000 20v59H0V18c12 0 23 6 33 12 10 7 19 15 29 21 28 15 65 14 91-4 10-7 19-15 29-21a80 80 0 0168-8 80 80 0 0168 8c10 6 18 14 28 21 27 18 63 19 91 4 11-6 20-14 30-21s21-12 33-12a33 33 0 014 0c12 0 23 6 33 12 10 7 19 15 29 21 28 15 65 14 92-4 9-7 18-15 28-21a80 80 0 0168-8 80 80 0 0168 8c10 6 18 14 28 21 27 18 63 19 91 4 11-6 20-14 30-21s21-12 33-12a33 33 0 015 0c11 0 22 6 32 12 10 7 19 15 30 21 28 15 64 14 91-4 10-7 18-15 28-21a80 80 0 0168-8 80 80 0 0168 8c10 6 19 14 29 21 26 18 63 19 91 4 10-6 19-14 29-21l6-3c8-5 18-9 28-9a33 33 0 014 0c12 0 23 6 32 12l30 21 3 1a87 87 0 0035 9 90 90 0 0043-8 81 81 0 0010-6l9-6c6-5 12-11 19-15a80 80 0 0168-8 80 80 0 0169 8l20 15 8 6a82 82 0 0011 6 90 90 0 0043 8 87 87 0 0035-9l2-1 30-21a79 79 0 0120-10z" opacity=".75"/><path d="M478 79H23a33 33 0 0117-20l1-1a33 33 0 0122-1 22 22 0 0117-15 15 15 0 015-6 22 22 0 0114-2 52 52 0 0113 4l11 5c12 6 24 12 36 16 14 6 31 8 45 4l5-2a157 157 0 0041-26 151 151 0 0046 28c15 4 31 2 46-4 12-4 24-10 35-16l11-5a52 52 0 0114-4 22 22 0 0113 2 15 15 0 016 6 22 22 0 0117 15 33 33 0 0122 1l1 1a33 33 0 0117 20z" opacity=".5"/><path d="M504 79H0V65c6-10 20-16 32-12a37 37 0 019 5c8 6 15 13 24 16 12 3 25-4 35-12 7-7 15-14 23-19a43 43 0 017-3c14-5 29-1 42 5 11 5 22 12 32 18l5 2c13 7 27 11 41 8 14 3 29-1 42-8l4-2c11-6 21-13 33-18 13-6 28-10 41-5a43 43 0 017 3c9 5 16 12 24 19 10 8 22 15 35 12 9-3 16-10 24-16a37 37 0 019-5c14-5 31 5 35 19v7z"/><circle cx="59.8" cy="29.3" r="8.5"/><circle cx="159.2" cy="32.6" r="5.2"/><circle cx="375.8" cy="32.6" r="5.2"/><circle cx="435.9" cy="36.6" r="7.3"/><circle cx="106.4" cy="5.8" r="5.8" opacity=".5"/><circle cx="321.2" cy="5.8" r="5.8" opacity=".5"/><circle cx="250.3" cy="5.8" r="2.8" opacity=".75"/><path d="M982 79H527a33 33 0 0117-20l1-1a33 33 0 0122-1 22 22 0 0117-15 15 15 0 016-6 22 22 0 0113-2 52 52 0 0113 4l12 5c11 6 23 12 35 16 15 6 31 8 46 4l4-2a157 157 0 0041-26 151 151 0 0046 28c15 4 31 2 46-4 12-4 24-10 36-16l11-5a52 52 0 0113-4 22 22 0 0114 2 15 15 0 015 6 22 22 0 0117 15 33 33 0 0122 1l1 1a33 33 0 0117 20z" opacity=".5"/><path d="M1009 79H504V65c7-10 20-16 32-12a37 37 0 019 5c8 6 15 13 24 16 12 3 25-4 35-12 8-7 15-14 24-19a43 43 0 017-3c13-5 28-1 41 5 12 5 22 12 33 18l4 2c13 7 28 11 42 8 13 3 28-1 41-8l5-2c10-6 21-13 32-18 13-6 28-10 42-5a43 43 0 017 3c8 5 16 12 23 19 10 8 23 15 35 12 9-3 16-10 24-16a37 37 0 019-5c14-4 31 5 35 19l1 7z"/><circle cx="564" cy="29.3" r="8.5"/><circle cx="663.5" cy="32.6" r="5.2"/><circle cx="880.1" cy="32.6" r="5.2"/><circle cx="940.2" cy="36.6" r="7.3"/><circle cx="610.6" cy="5.8" r="5.8" opacity=".5"/><circle cx="825.5" cy="5.8" r="5.8" opacity=".5"/><circle cx="754.6" cy="5.8" r="2.8" opacity=".75"/><path d="M1486 79h-454a33 33 0 0116-20l2-1a33 33 0 0122-1 22 22 0 0116-15 15 15 0 016-6 22 22 0 0113-2 52 52 0 0114 4l11 5c12 6 23 12 35 16 15 6 31 8 46 4l5-2a157 157 0 0041-27 151 151 0 0046 29c15 4 31 2 45-4 13-4 24-10 36-16l11-5a52 52 0 0113-4 22 22 0 0114 2 15 15 0 016 6 22 22 0 0116 15 33 33 0 0122 1l1 1a33 33 0 0117 20z" opacity=".5"/><path d="M1513 79h-504V65c6-10 20-16 31-12a37 37 0 0110 5c7 6 14 13 24 16 12 3 24-4 34-12 8-7 15-14 24-19a43 43 0 017-3c14-5 29-1 42 5 11 5 21 12 32 18l5 2c13 7 27 11 41 8 14 3 28-1 41-8l5-2c11-6 21-13 32-18 13-6 28-10 42-5a43 43 0 017 3c9 5 16 12 24 19 10 8 22 15 34 12 10-3 16-10 24-16a37 37 0 0110-5c14-4 31 5 34 19l1 7z"/><circle cx="1068.3" cy="29.3" r="8.5"/><circle cx="1167.8" cy="32.6" r="5.2"/><circle cx="1384.4" cy="32.6" r="5.2"/><circle cx="1444.5" cy="36.6" r="7.3"/><circle cx="1114.9" cy="5.8" r="5.8" opacity=".5"/><circle cx="1329.8" cy="5.8" r="5.8" opacity=".5"/><circle cx="1258.9" cy="5.8" r="2.8" opacity=".75"/><path d="M1990 79h-454a33 33 0 0117-20l1-1a33 33 0 0122-1 22 22 0 0117-15 15 15 0 015-6 22 22 0 0114-2 52 52 0 0113 4l11 5c12 6 23 12 36 16 14 6 31 8 45 4l5-2a157 157 0 0041-27 151 151 0 0046 29c15 4 31 2 46-4 12-4 23-10 35-16l11-5a52 52 0 0114-4 22 22 0 0113 2 15 15 0 016 6 22 22 0 0117 15 33 33 0 0122 1l1 1a33 33 0 0116 20z" opacity=".5"/><path d="M2000 54v25h-487V65c6-10 20-16 31-12a37 37 0 0110 5c8 6 15 13 24 16 12 3 25-4 34-12l1-1 23-18a43 43 0 017-3c10-3 21-2 32 1a84 84 0 0110 4c11 5 21 12 32 18l5 2c13 7 27 11 41 8 14 3 29-1 41-8l5-2c11-6 21-13 33-18a83 83 0 019-4c10-3 22-5 32-1a43 43 0 017 3c9 5 16 12 23 18l1 1c10 8 22 15 35 12 9-3 16-10 24-16a37 37 0 019-5 26 26 0 0118 1z"/><circle cx="1572.6" cy="29.3" r="8.5"/><circle cx="1672.1" cy="32.6" r="5.2"/><circle cx="1888.7" cy="32.6" r="5.2"/><circle cx="1948.8" cy="36.6" r="7.3"/><circle cx="1619.2" cy="5.8" r="5.8" opacity=".5"/><circle cx="1834.1" cy="5.8" r="5.8" opacity=".5"/><circle cx="1763.2" cy="5.8" r="2.8" opacity=".75"/></g></svg>'); 
    }
    
    @media (min-width:768px){
    .shapedivider-special-waves::before{
    background-size: 200% 90px;
    background-position: 50% 100%;   
    }  
    }
     
    @media (min-width:1025px){
    .shapedivider-special-waves::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 100%;  
    }
    }
    @media (min-width:2100px){
    .shapedivider-special-waves::before{
    background-size: 100% calc(2vw + 90px);
    }
}

.shapedivider-opacity-wave{
  overflow:hidden;
  position:relative;
  }
  .shapedivider-opacity-wave::before{
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat; 
  background-size: 250% 150px;
  background-position: 50% 0%;    
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%231b2223"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%231b2223"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%231b2223"/></svg>'); 
  }
  
  @media (min-width:768px){
  .shapedivider-opacity-wave::before{
  background-size: 200% 150px;
  background-position: 50% 0%;   
  }  
  }
   
  @media (min-width:1025px){
  .shapedivider-opacity-wave::before{ 
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 150px;
  background-position: 50% 0%;  
  }
  }
  @media (min-width:2100px){
  .shapedivider-opacity-wave::before{
  background-size: 100% calc(2vw + 150px);
  }
  }
   


  .shapedivider-mutliple_waves {
    overflow:hidden;
    position:relative;
    }
    .shapedivider-mutliple_waves::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 200% 130px;
    background-position: 50% 100%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%231b2223"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%231b2223"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%231b2223"/></svg>'); 
    }
    
    @media (min-width:768px){
    .shapedivider-mutliple_waves::before{
    background-size: 150% 130px;
    background-position: 50% 100%;   
    }  
    }
     
    @media (min-width:1025px){
    .shapedivider-mutliple_waves::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 130px;
    background-position: 50% 100%;  
    }
    }
    @media (min-width:2100px){
    .shapedivider-mutliple_waves::before{
    background-size: 100% calc(2vw + 130px);
    }
    }
     
  
  
    .shapedivider_line{
      overflow:hidden;
      position:relative;
      }
      .shapedivider_line::before{
      content:'';
      font-family:'shape divider from ShapeDividers.com';
      position: absolute;
      bottom: -1px;
      left: -1px;
      right: -1px;
      top: -1px;
      z-index: 3;
      pointer-events: none;
      background-repeat: no-repeat; 
      background-size: 200% 90px;
      background-position: 50% 100%;    
      background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 77.25" preserveAspectRatio="none"><g fill="%231b2223"><path d="M0 68.78l381-33.86v42.33H0z"/><path d="M0 43.38l381-25.4v59.27H0z" opacity=".33"/><path d="M0 17.98L381 0v77.25H0z" opacity=".33"/></g></svg>'); 
      }
      
      @media (min-width:768px){
      .shapedivider_line::before{
      background-size: 150% 90px;
      background-position: 50% 100%;   
      }  
      }
       
      @media (min-width:1025px){
      .shapedivider_line::before{ 
      bottom: -0.1vw;
      left: -0.1vw;
      right: -0.1vw;
      top: -0.1vw; 
      background-size: 100% 90px;
      background-position: 50% 100%;  
      }
      }
      @media (min-width:2100px){
      .shapedivider_line::before{
      background-size: 100% calc(2vw + 90px);
      }
      }
  