.mainMenu {
  background-image: url("../src/assets/images/LK_pizza_bckground.jpg");
  background-color: #1B2223;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family:'Questrial', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navigationBar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #F4FEFD;
  padding: 5px;
}

.navigationBar a{
  text-decoration: inherit;
  color: #1B2223;
}

.logo {
  margin: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.list {
  font-family: Arial, sans-serif;
  font-weight: bold;
  list-style: none;
  display: flex;
  gap: 20px;
}

.list li {
  margin-top: 20px;
}

.list li a {
  text-decoration: none;
  transition: color 0.2s;
}

.list li a:hover {
  color: #8E43ED;
}
#toggler,
.navigationBar label {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #1B2223;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #8E43ED;
}

@media screen and (max-width: 770px) {
  .menuList {
      width: 100%;
      max-height: 0;
      overflow: hidden;
  }

  .list {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .navigationBar label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  }

  #toggler:checked ~ .menuList {
      max-height: 100%;
  }

}

.center {
  text-align: center;
}

.oNas, .kontakt, .fotogaleria, .registracia {
  background-color: #1B2223;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family:'Questrial', sans-serif;
}

.bg-image-full {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.bold {
  font-weight: bold;
}

.whiteColor {
  color: #F4FEFD;
}


/* --Animacie-- */

/*Grow*/
@keyframes grow {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
.grow-animation {
  animation: grow 1.2s ease forwards;
}

.hidden {
  opacity: 0;
}

.custom-heading {
  font-family: 'Inkut Antiqua', sans-serif;
  text-shadow: 1px 1px 0px #c8c8c8, 0px 2px 0px #b4b4b4, 0px 3px 0px #a0a0a0, 
  0px 4px 0px rgba(140, 140, 140, 0.498039), 0px 0px 0px #787878, 
  0px 5px 10px rgba(0, 0, 0, 0.498039);
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #F4FEFD;
  height: 400px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #0EF6CC;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0EF6CC;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

/* --Shape dividers-- */

.shapedivider_waves-with-pizza {
  overflow:hidden;
  position:relative;
}

.shapedivider_waves-with-pizza::before {
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat; 
  background-size: 250% 90px;
  background-position: 50% 100%;    
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd' viewBox='0 0 35.28 2.17' preserveAspectRatio='none'%3E%3Cpath style='opacity:.993' fill='%231a2122' d='M4.998-.007h.333q.17.246.297.521a9 9 0 0 1 .224.723.3.3 0 0 0 .13.014Q5.881.544 5.418-.007h.463a4 4 0 0 1 .239.434q.134.367.239.73-.026.024 0 .051.348.005.694-.051a18 18 0 0 0 .911-.145q.208-.623.723-1.02h.188q.047.06.058.123-.471.322-.665.846a1 1 0 0 0 .087-.029 6 6 0 0 1 .347-.579 2 2 0 0 1 .246-.188.3.3 0 0 1 .051.029 3.6 3.6 0 0 0 .391.564 2 2 0 0 1 .224-.043 4 4 0 0 1 .08-.318q.136-.129.224.051-.002.106-.094.181-.027.03-.007.058a25 25 0 0 1 2.98-.297q-.086-.026-.029-.087a4 4 0 0 0 .438-.151.2.2 0 0 1 .08.08q.181.032.13-.152l.231-.087h.13q.007.116.014 0h.145q.087.218.058.427a41 41 0 0 1 3.161.339.14.14 0 0 0 .094-.058 5 5 0 0 0 .188-.268.32.32 0 0 0-.116-.231.3.3 0 0 0 .029-.051.9.9 0 0 1 .354.014h.145l.058.029q.134.009.26 0 .184.03.383.051.017.081.022.166a.19.19 0 0 0 .137.152q.155.087.282-.036.053-.121.108-.224.34.005.687.065.076-.026.137.051a1.7 1.7 0 0 1-.231.702q.06.046.13.014a7 7 0 0 0 .159-.528l-.014-.043q.029-.082.051-.166.063 0 .13-.014.101.026.195.029a.07.07 0 0 0 .014.051q-.033.194-.072.362.02.025-.014.043l.014.014a13 13 0 0 0-.101.34q1.242.18 2.488.34a17 17 0 0 0 1.302.116 8 8 0 0 0 .636-.47q.068-.086.014-.195a.4.4 0 0 0-.087-.101 28 28 0 0 1-.535-.166q-.145-.207.08-.318l.108.022a9 9 0 0 1 .347.239q.21.104.427.188.025-.03.065-.036a.5.5 0 0 1-.116-.072q-.087-.104.014-.203.064-.037.13 0 .094.058.195.108.037-.004.065-.022a.4.4 0 0 0-.116-.101q-.185-.047-.325-.166-.02-.135.108-.145a20 20 0 0 0 .564.311q.043.014.087 0a1 1 0 0 0 .166-.123.2.2 0 0 1 .058.029q.005.049.022.094.003.195-.014.419l.029.203v.47a31 31 0 0 0 2.329-.325l-.108-.108q-.015-.022 0-.043.118-.143.282-.231l.391-.166q.386-.105.767-.188a1.7 1.7 0 0 1 .427.051q.015.058 0 .116-.054.173-.065.347a25 25 0 0 1 2.257-.21 1 1 0 0 1-.014-.116q.027-.184.043-.347-.014-.056.051-.08.118.021.239.036l.043.036a.4.4 0 0 1 .014.137l-.029.145q.029.087 0 .174a.1.1 0 0 0 .072 0 7 7 0 0 0 .036-.412.2.2 0 0 1 .065-.043q.541.113 1.085.145a.16.16 0 0 0 .123-.087.45.45 0 0 0 .014-.203 4 4 0 0 1-.152-.275h.289a2.6 2.6 0 0 0 .174.506.3.3 0 0 0 .087.072q.005-.052 0-.101-.046-.066.014-.13.093-.08.181 0 .047.133.116.275l.043.029a.37.37 0 0 0-.072-.275.5.5 0 0 1-.058-.246q.041-.058.101-.058a.13.13 0 0 1 .101.116q.078.294.188.564a.3.3 0 0 0 .145.058 1 1 0 0 0 .094-.014q.047.048.014.108l-.159.188a1.5 1.5 0 0 0 .246.051v1.027H-.007V.388a27 27 0 0 0 3.826.781.2.2 0 0 0 .051-.014A10 10 0 0 1 4.188.83q.022-.014.043 0 .206.209.419-.007.099-.19-.051-.347-.014-.029 0-.058a16 16 0 0 1 .398-.419m8.809.145q.015.052.029.108a.5.5 0 0 0 0 .116q.002.036-.029.051-.004-.125 0-.275m-.203.231q.055-.086-.051-.116-.03.016-.051-.022.044-.095.101 0 .035.011.072.007-.007-.106.058-.036-.014.111-.101.181zM5.097.274q.349-.034.347.333.002.334-.325.318-.126-.054-.007-.13.012.048 0 .101.165-.028.116-.188a.4.4 0 0 0-.051-.029q-.14.023-.282.043-.033-.06-.043-.13.014-.029 0-.065.006-.035.036-.051h.087a1 1 0 0 1 .159.043q.045.008.087-.029.018-.132-.094-.203a.1.1 0 0 0-.043.029q.035.03.022.072Q4.955.33 5.099.272m7.927.029q.104-.006.13.094a1 1 0 0 1-.174.007q-.008-.064.043-.101m4.961.029q.176.041.217.195-.009.039 0 .072a.4.4 0 0 1-.058.145q-.276.18-.398-.123a.22.22 0 0 1 .094-.239q.073-.031.145-.051M8.873.343h.072q.177.09.087.26-.018.019-.043.014.013-.066-.051-.087-.018.052-.058.087a.3.3 0 0 0-.065-.043q-.029-.022 0-.043.152-.072-.014-.087.003-.075.072-.101m10.646.26q.048.015.08.058a.4.4 0 0 1 .065.145.4.4 0 0 1-.21.304 6 6 0 0 0-.297-.051.2.2 0 0 0 .145-.101 3 3 0 0 0-.231-.246q.053-.103.152-.166.119.108.174.26.036.032.072.029.089-.084.087-.188a.2.2 0 0 1-.036-.043m0 0a.2.2 0 0 0-.051.087.3.3 0 0 1-.022-.116q.048-.008.072.029m13.38-.029q.293-.03.311.246a.11.11 0 0 1-.116-.014q-.054.018-.022.065a.4.4 0 0 1-.159 0q.024-.05-.036-.065a.2.2 0 0 0-.065.065q-.079.005-.087-.08.031-.154.174-.217m-3.24.116q.268.037.166.289-.068.092-.174.072.016-.055.022-.116a1 1 0 0 0-.13.029 1 1 0 0 0-.014-.159.4.4 0 0 1 .123.029.06.06 0 0 0 .036-.036q-.064-.042-.029-.108m3.848 0a.1.1 0 0 1 .058.022l-.022.022q-.024-.027-.051 0-.102.077-.014.152-.056.008-.072-.051a.2.2 0 0 1 .101-.145M17.465.705q.027-.001.043.022-.002.1-.101.08a.16.16 0 0 1 .058-.101M33.579.72q.092.032.036.116a.3.3 0 0 0-.036-.116M8.757.734q.132-.017.203.094a1 1 0 0 1-.304.043q.023-.091.101-.137m9.995.246q.121-.04.08-.159-.025-.03-.065-.036.086-.024.116.058-.007.041-.022.094-.044.064-.108.043M18.71.792q.023-.003.043.007a.2.2 0 0 0-.065.051q-.007-.034.022-.058m-.419.043a.2.2 0 0 1 .116.036v.058A.6.6 0 0 1 18.161.9zm15.55.014q.114-.009.217.08A2 2 0 0 1 33.725.9a.3.3 0 0 1 .116-.051M5.62.907Q5.539.9 5.504.972q.029.044.022.094-.114-.126.043-.188a.3.3 0 0 1 .051.029M25.466.878q.253.018.289.268-.097.274-.376.174-.257-.268.087-.441m8.954 0a.35.35 0 0 1 .253.058l.036.072-.036.014a7 7 0 0 0-.325-.051.1.1 0 0 1-.029-.022.2.2 0 0 1 .101-.072M18.682.892a.16.16 0 0 0 .072.087q-.031.022-.058-.014a.13.13 0 0 1-.014-.072m10.27 0 .029.043q-.056-.004-.029-.043M5.62.907q.054-.009.058.043zm23.636 0q.22.032.188.246l-.289.043-.043-.014a.15.15 0 0 1 .007-.188.4.4 0 0 1 .137-.087m-24.359.217q.043-.117-.072-.159-.044-.001-.072.029.034-.113.13-.043.097.086.014.174m14.176-.101q-.062-.062.022-.101a.3.3 0 0 1 .065.036q-.058.018-.087.065M5.678.952q.058.033.022.087a.3.3 0 0 1-.022-.087m22.782.246-.029-.014q.007-.169.174-.195a.6.6 0 0 1 .188 0q.165.053.137.224-.041-.107-.152-.08a.3.3 0 0 0-.014.123l-.145.014q.058-.154-.101-.123a.1.1 0 0 0-.058.051M4.752.995a.4.4 0 0 1-.007.101q-.038-.054.007-.101m14.32.029q.054.005.022.029-.022-.007-.022-.029m-13.785.058q.164.011.231.174a2.5 2.5 0 0 1-.463.007q.075-.144.231-.181m-.391.043q-.033.058-.087.022a.3.3 0 0 1 .087-.022m23.621.13a.2.2 0 0 1-.036.029l-.022-.014.029-.029q.031-.033.029.014m-3.486.029q.175.011.26.181a.2.2 0 0 1-.014.087q-.025.045-.072.029-.033-.051-.08-.051-.013.094.022.181l-.123.007-.072-.029-.014.014a1 1 0 0 1 .029-.174l-.022-.014-.087.058a.08.08 0 0 1-.058-.051l.014-.08q.077-.128.217-.159m-.463.188q.075-.035.116.043l-.007.014-.051-.051a.08.08 0 0 1-.058-.007m0 0a.17.17 0 0 0-.058.108.4.4 0 0 0 .051.08h.08q-.043.031-.087.029a.18.18 0 0 1-.051-.188q.024-.033.065-.029m.087.174a.4.4 0 0 0 .022-.072l.007.036q-.004.03-.029.036'/%3E%3Cpath style='opacity:.984' fill='%23192020' d='M29.834.542a.13.13 0 0 0-.058-.022 2.36 2.36 0 0 0-1.345.318l-.383.282a.6.6 0 0 1-.181-.195 2.07 2.07 0 0 1 .969-.579l.427-.108q.258.003.521 0l.297.058a2 2 0 0 1-.043.26q-.034 0-.065.014a.3.3 0 0 0-.137-.029'/%3E%3Cpath style='opacity:.11' fill='%23090b0c' d='M29.371.528q.198-.025.405-.007a.1.1 0 0 1 .058.022 5 5 0 0 0-.463-.014'/%3E%3Cpath style='opacity:.018' fill='%23070809' d='M28.952.89q-.027.04.029.043.008.029.014 0h.043q-.052.057-.108 0-.028-.099.051-.159.023.025.036-.014.046.01.065.051l-.007.022a.06.06 0 0 0-.036-.043q-.098.005-.087.101'/%3E%3Cpath style='opacity:.023' fill='%23020303' d='m28.431 1.179.029.014q-.004.036.029.043l-.029.029.022.014a.1.1 0 0 0 .036-.029v.043h-.072a.3.3 0 0 0-.014-.072q.029-.007 0-.014z'/%3E%3C/svg%3E");
}
  
@media (min-width:768px) {
  .shapedivider_waves-with-pizza::before {
    background-size: 200% 90px;
    background-position: 50% 100%;   
  }  
}
   
@media (min-width:1025px) {
  .shapedivider_waves-with-pizza::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 100%;  
  }
}

@media (min-width:2100px) {
    .shapedivider_waves-with-pizza::before{
    background-size: 100% calc(2vw + 90px);
  }
}

.shapedividers_com-2075{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-2075::before{
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat; 
  background-size: 250% 40px;
  background-position: 50% 0%;    
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.4 70.7"><g fill="%231b2223"><path d="M1837 0H0v9c8-5 20-1 24 7 3 5 5 12 10 12a7 7 0 007-4c2-3 1-8 0-12 3-2 7 0 8 3l1 10c-1 4-2 9 1 12a5 5 0 007 1c2-2 2-5 2-8 0-4 1-8 6-7a6 6 0 013 4 8 8 0 003 3 2 2 0 003-2c0-3-1-5 1-7a4 4 0 014-3c3 1 4 5 4 8-1 2-2 5-1 7a4 4 0 001 1c1 2 5 0 4-3a10 10 0 010-6 5 5 0 015-3c3-1 4 2 4 5l-2 6c-3 4-5 8-5 13s2 11 7 12c4 1 9-1 9-5 1-2 0-5-2-7l-1-3a19 19 0 013-20 7 7 0 017-2c4 1 5 6 4 10v11c1 4 7 5 8 1l2-9c3-3 8-6 11-2a7 7 0 012 5l-3 9-1 4c-2 4-2 9 2 11a7 7 0 008-1c4-3 5-9 3-13v-1c-1-4-4-8-3-13a9 9 0 0110-7c4 0 10 5 9 10v2a33 33 0 01-1 8 42 42 0 01-2 7c-2 4-2 10 2 14 3 3 7 5 11 3a8 8 0 005-5c2-6-3-11-6-17a10 10 0 010-2 13 13 0 012-10c6-7 16-2 17 5a15 15 0 011 5l-1 7c-1 4 1 10 6 9a7 7 0 006-5c1-4 0-8-2-11-2-4-4-7-3-11a8 8 0 012-6c4-4 11-1 15 2 5 4 10 8 15 6 4-1 6-4 7-7l7-11a7 7 0 016 0c5 1 5 6 4 10l-4 9c0 4 3 8 7 7a6 6 0 004-4c1-5-2-9-2-14 0-4 4-8 8-5a6 6 0 011 4 104 104 0 011 20l-1 10c1 6 8 9 12 5 3-3 4-8 4-12a23 23 0 00-1-3 50 50 0 00-3-9c-2-4-4-9-3-13 1-6 9-11 13-3a10 10 0 010 7c-1 4-1 12 5 13a6 6 0 005-3c3-5 1-9 2-14 1-3 4-6 8-6 4 1 7 5 7 9l2 13a10 10 0 005 6 6 6 0 005 0 6 6 0 001-1 7 7 0 003-4c1-5-2-9-3-14 0-3 1-8 4-9l2 9c3 4 8 6 12 2a8 8 0 001-3c2-4 1-7 0-11a18 18 0 0115 0l6 3a8 8 0 003 1 8 8 0 002-1c3 0 5-2 7-3a18 18 0 0115 0c-1 4-2 7-1 11a8 8 0 002 3c4 4 9 2 11-2l3-9c3 2 4 6 3 9 0 5-3 9-2 14a7 7 0 002 4c5 4 10 0 12-5l1-13c0-5 4-8 8-9 3 0 6 3 7 6 1 5 0 10 3 14a6 6 0 005 3c5-1 6-9 5-13a10 10 0 010-7c4-7 12-3 13 3 1 5-1 9-3 13s-4 8-4 12 1 9 4 12c4 4 11 1 11-5V26a6 6 0 012-4c3-3 8 1 8 5 0 5-3 9-2 14a6 6 0 004 4c4 1 7-3 6-7l-3-9c-1-4-1-9 3-10a7 7 0 016 0c4 3 6 7 7 11 2 3 4 6 7 7 6 2 11-2 15-5 5-4 11-7 16-3a8 8 0 012 6c0 8-7 14-6 22a7 7 0 006 6c5 0 7-6 7-10s-2-8-1-12c2-7 12-12 18-5a12 12 0 012 12c-3 6-9 12-7 17a8 8 0 005 5c5 2 9 0 12-3 4-4 4-9 2-14a37 37 0 01-3-15v-2c-1-5 4-10 9-10a9 9 0 0110 7c1 5-2 9-4 14-1 5 0 10 4 13a7 7 0 008 1c4-2 4-7 2-11-1-4-4-8-4-13a7 7 0 012-5c3-4 8-1 10 2s2 6 2 10c2 3 7 1 9-2s0-7-1-11c0-4 1-9 5-10a7 7 0 017 2 19 19 0 013 20c-2 4-4 7-4 10 1 5 6 7 10 5 5-1 7-7 7-12 0-4-3-9-5-12l-2-7c-1-2 1-6 4-5a5 5 0 014 3 10 10 0 010 6c-1 3 3 5 5 3a2 2 0 000-1v-7c0-3 0-7 3-7a4 4 0 015 2v7a2 2 0 004 2 8 8 0 003-3 6 6 0 013-4c4-1 6 3 6 7 0 3-1 6 2 8a5 5 0 007-1c2-3 2-8 1-12V15c1-3 6-5 8-3 0 4-1 8 1 12a7 7 0 007 4c5 0 7-7 9-12a13 13 0 0125 0c2 5 4 12 9 12a7 7 0 007-4c2-4 1-8 1-12 2-2 7 0 8 3v10c-1 4-1 9 1 12a5 5 0 007 1c3-2 2-5 2-8 0-4 2-8 6-7a6 6 0 014 4 8 8 0 002 3 2 2 0 004-2v-7a4 4 0 015-3c3 1 3 5 3 8v7a4 4 0 000 1c2 2 6 0 5-3a10 10 0 010-6 5 5 0 014-3c3-1 5 2 4 5l-2 6-5 13c0 5 2 11 8 12 4 1 8-1 9-5 1-3-2-6-4-10a19 19 0 014-20 7 7 0 016-2c5 1 5 6 5 10-1 4-2 7-1 11s7 5 9 1c0-3 0-6 2-9s7-6 10-2a7 7 0 012 5c0 5-3 8-4 13-1 4-1 9 3 11a7 7 0 007-1c5-3 5-9 4-13-2-5-5-9-4-14a9 9 0 0110-7c5 0 10 5 10 10v2a37 37 0 01-4 15c-2 4-2 10 2 14 3 3 8 5 12 3a8 8 0 005-5c2-6-4-11-6-17a12 12 0 011-12c6-7 16-3 18 5 1 4-1 8-1 12s2 10 7 9a7 7 0 006-5c2-8-6-14-6-22a8 8 0 012-6c5-4 11-1 16 2s9 8 15 6c3-1 5-4 7-7 2-4 3-8 7-11a7 7 0 016-1c4 2 4 7 3 11l-3 9c0 4 2 8 6 7a6 6 0 004-4c1-5-2-9-2-14 0-4 5-8 8-5a6 6 0 012 4v30c0 6 7 9 11 5h1c3-3 4-8 3-12l-4-12c-2-4-4-9-3-13 1-6 9-11 13-3a10 10 0 010 7c-1 4 0 12 5 13a6 6 0 006-3c2-5 1-9 2-14 1-3 4-6 7-6 4 1 7 5 8 9l1 13c2 5 7 9 12 5a7 7 0 002-4c1-5-1-9-2-14-1-3 0-7 3-9l3 9c2 4 7 6 11 2a8 8 0 002-3c1-4 0-7-1-11a18 18 0 0115 0c3 1 4 3 7 3a16 16 0 005 0l6-3a18 18 0 0115 0c-1 4-2 7 0 11a8 8 0 001 3c4 4 9 2 12-2l2-9c3 2 4 6 4 9-1 5-3 9-3 14a7 7 0 003 4c4 4 10 0 11-5l2-13c1-5 3-8 8-9 3 0 6 3 7 6 1 5 0 9 2 14a6 6 0 005 3c6-1 6-9 5-13a10 10 0 011-7c3-8 11-3 12 3 1 4-1 9-3 13l-4 12c-1 4 1 9 4 12 4 4 12 1 12-5s-2-18 0-30a6 6 0 011-4c4-3 8 1 8 5 1 5-2 9-1 14a6 6 0 003 4c4 1 7-3 7-7l-3-9c-2-4-1-9 3-10a7 7 0 016 0c4 3 5 7 7 11 1 3 4 6 7 7 5 2 10-2 15-5s11-7 15-3a8 8 0 013 6c0 8-8 14-6 22a7 7 0 006 6c5 0 7-6 6-10V41c1-7 12-12 17-5a13 13 0 012 12c-3 6-8 12-6 17a8 8 0 005 5c4 2 8 0 11-3 4-4 4-9 2-14a37 37 0 01-3-15v-2c0-5 5-10 9-10a9 9 0 0110 7c1 5-2 9-3 14s-1 10 3 13a7 7 0 008 1c4-2 4-7 3-11-2-5-5-8-5-13a7 7 0 012-5c4-4 9-1 11 2l2 10c1 3 7 1 8-2s0-7 0-11c-1-4 0-9 4-10a7 7 0 017 2 19 19 0 013 20c-1 4-4 7-3 10 1 5 5 7 9 5 5-1 8-7 7-12 0-4-2-9-4-13l-3-6c0-2 1-6 5-5a5 5 0 014 3 10 10 0 010 6c-1 3 3 5 5 3a4 4 0 000-1v-7c-1-3 0-7 3-7a4 4 0 014 2c2 2 1 5 1 7a2 2 0 003 2 8 8 0 003-3 6 6 0 013-4c5-1 6 3 6 7 0 3 0 7 2 8a5 5 0 007-1c3-3 2-8 2-12-1-3-2-6 0-10s5-5 8-3c-1 4-2 9 0 13a7 7 0 007 4c6-1 7-8 10-13s9-9 15-9 13 4 16 9c2 5 4 12 9 13a7 7 0 007-4c2-4 1-9 0-13 3-2 7 0 9 3s0 7 0 10c-1 4-2 9 1 12a5 5 0 007 1c3-1 2-5 2-8 0-4 2-8 6-7a6 6 0 013 4 8 8 0 003 3 2 2 0 004-2v-7a4 4 0 015-2c3 0 3 4 3 7v7a2 2 0 000 1c2 2 6 0 5-3a10 10 0 010-6 5 5 0 014-3c3-1 5 3 4 5l-2 6c-2 4-5 9-5 13 0 5 2 11 7 12 4 2 9 0 10-5 0-3-2-6-4-10a19 19 0 013-20 7 7 0 017-2c4 1 5 6 4 10v11c1 4 7 5 9 2 0-4 0-7 2-10s7-6 10-2a7 7 0 012 5c0 5-3 8-4 13-2 4-2 9 2 11a7 7 0 008-1c4-3 5-8 3-13-1-5-4-9-3-14a9 9 0 0110-7c5 0 10 5 9 10v2a37 37 0 01-3 15c-2 4-2 10 2 14 3 3 7 5 12 3a8 8 0 005-5c2-6-4-11-7-17a13 13 0 012-12c6-7 16-2 18 5 1 4-1 8-1 12s2 10 6 10a7 7 0 006-6c2-8-5-14-5-22a8 8 0 012-6c5-4 11-1 16 2 4 4 9 8 14 6 4-1 6-4 7-7 2-4 4-8 8-11a7 7 0 016 0c4 1 4 6 3 10l-3 9c-1 4 2 8 6 7a6 6 0 004-4c1-5-2-9-2-14 0-4 5-8 8-5a6 6 0 012 4v30c0 6 7 9 11 5 3-3 4-8 4-12s-2-8-4-12-4-9-3-13c1-6 9-11 13-3a10 10 0 010 7c-1 4 0 12 5 13a6 6 0 005-3c3-5 1-9 3-14 0-3 4-6 7-6 4 1 7 5 8 9l1 13c2 5 7 9 11 5a7 7 0 003-4c1-5-2-9-2-14-1-3 0-8 3-9l3 9c2 4 7 6 11 2a8 8 0 002-3c1-4 0-7-1-11a18 18 0 0115 0c2 1 4 3 7 3a8 8 0 002 1 8 8 0 003-1l6-3a18 18 0 0115 0c-1 4-2 7-1 11a8 8 0 002 3c4 4 9 2 12-2l2-9c3 1 4 6 4 9-1 5-4 9-3 14a7 7 0 003 4 6 6 0 001 1 6 6 0 005 0 10 10 0 005-6l2-13c1-5 3-8 7-9s7 3 8 6c1 5-1 9 2 14a6 6 0 005 3c5-1 6-9 5-13a10 10 0 010-7c4-8 12-3 13 3 1 4-1 9-3 13a50 50 0 00-3 9 24 24 0 00-1 3c0 4 1 9 4 12 4 4 11 1 11-5V46a105 105 0 010-20 6 6 0 012-4c4-3 8 1 8 5 0 5-3 9-2 14a6 6 0 004 4c4 1 7-3 7-7l-4-9c-1-4-1-9 4-11a7 7 0 016 1l7 11c1 3 3 6 7 7 5 2 10-2 14-6 4-2 8-4 11-4V0z"/></g></svg>'); 
  }
  
  @media (min-width:768px){
  .shapedividers_com-2075::before{
  background-size: 200% 60px;
  background-position: 50% 0%;   
  }  
  }
   
  @media (min-width:1025px){
  .shapedividers_com-2075::before{ 
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 90px;
  background-position: 50% 0%;  
  }
  }
  @media (min-width:2100px){
  .shapedividers_com-2075::before{
  background-size: 100% calc(2vw + 90px);
  }
  }
   